<h1>time range DAGR results</h1>
<p>
  <strong>Start time:</strong>
  <%= params[:sYYYY] %>
  <%= params[:sMM] %>
  <%= params[:sDD] %>
</p>

<p>
  <strong>End time:</strong>
  <%= params[:eYYYY] %>
  <%= params[:eMM] %>
  <%= params[:eDD] %>
</p>